@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global */
.sidenav {
  right: calc(50% - 69px);
  top: 4px;
  animation: slideIn768 2s;
}

@media (min-width: 768px) {
  .sidenav {
    right: 10px;
    top: calc(50% - 85px);
    animation: slideIn2560 2s;
  }
}


@keyframes slideIn768 {
  from {
    top: -60px;
  } to {
    top: 8px;
  }
}

@keyframes slideIn2560 {
  from {
    right: -60px;
  } to {
    right: 10px;
  }
}

.first-bar {
  height: 3px;
  width: 30px;
  background-color: orangered;
  animation: loadFirstBar768 2s;
}

@media (min-width: 768px) {
  .first-bar {
    width: 50px;
    animation: loadFirstBar2560 2s;
  }
}

@keyframes loadFirstBar768 {
  from {
    width: 0px;
  } to {
    width: 30px;
  }
}

@keyframes loadFirstBar2560 {
  from {
    width: 0px;
  } to {
    width: 50px;
  }
}


.second-bar {
  height: 3px;
  width: 60px;
  background-color: royalblue;
  animation-delay: 2s;
  animation: loadSecondBar768 3s;
}

@media (min-width: 768px) {
  .second-bar {
    width: 100px;
    animation: loadSecondBar2560 3s;
  }
}

@keyframes loadSecondBar768 {
  from {
    width: 0px;
  } to {
    width: 60px;
  }
}

@keyframes loadSecondBar2560 {
  from {
    width: 0px;
  } to {
    width: 100px;
  }
}

/* education */
.secondary {
  animation: secondary 2s;
}

@keyframes secondary {
  from {
    margin-bottom: 260px;
    opacity: 0.1;
  } to {
    margin-bottom: 0px;
    opacity: 1;
  }
}

.tertiary {
  animation: tertiary 2s;
} 

@keyframes tertiary {
  from {
    margin-top: 260px;
    opacity: 0.1;
  } to {
    margin-top: 0px;
    opacity: 1;
  }
}

/* skills */
.banner {
 width: 100%;
 height: 100%;
 text-align: center;
 overflow: visible;
 position: relative;
}

.banner .slider {
  position: absolute;
  width: 80px;
  height: 75px;
  top: 40%;
  z-index: 20;
  left: calc(50% - 20px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRotate768 20s linear infinite;
}

@media (min-width: 768px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    top: 25%;
    left: calc(50% - 50px);
    animation: autoRotate2560 20s linear infinite;
  }
}

@media (min-width: 1024px) {
  .banner .slider {
    width: 120px;
    height: 150px;
    top: 25%;
    left: calc(50% - 60px);
    animation: autoRotate2560 20s linear infinite;
  }
}

@media (min-width: 1440px) {
  .banner .slider {
    width: 160px;
    height: 150px;
    top: 25%;
    left: calc(50% - 80px);
    animation: autoRotate2560 20s linear infinite;
  }
}

@keyframes autoRotate768 {
  from {
    transform: perspective(1000px) rotateY(-12deg) rotateX(0deg);
  } to {
    transform: perspective(1000px) rotateY(-12deg) rotateX(-360deg);
  }
}

@keyframes autoRotate2560 {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  } to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item{
  position: absolute;
  inset: 0 0 0 0;
  transform: 
  rotateX(calc((var(--position) - 1) * (360 / var(--quantity) * 1deg)))
  translateZ(240px);
}

@media (min-width: 768px) {
  .banner .slider .item{
    width: 90px;
    transform: 
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity) * 1deg)))
    translateZ(260px);
  }
}

@media (min-width: 1024px) {
  .banner .slider .item{
    width: 120px;
    transform: 
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity) * 1deg)))
    translateZ(320px);
  }
}

@media (min-width: 1440px) {
  .banner .slider .item{
    width: 140px;
    transform: 
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity) * 1deg)))
    translateZ(420px);
  }
}

.banner .slider .item img{
  width: 100%;
  height: auto;
  object-fit: cover;
  
}

/* work experience */

.carousel .card {
  position: absolute;
  transition: 0.5s;
  left: calc(50% - 160px);
  top: 0;
}

@media (min-width: 768px) {
  .carousel .card {
    left: calc(50% - 275px);
  }
}

#next, #prev {
  display: none;
  position: absolute;
  top: 50%;
  left: 50px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

#next {
  left: unset;
  right: 50px;
}

@media (min-width: 769px) {
  #next, #prev {
    display: flex;
  }
}